
            /* GENERAL CSS */
:root {
    --ff-main: 'Poppins', sans-serif;
            /* DARK MODE */
    --clr-primary-dark: #232129;
    --clr-primary-light: #555060;

    --clr-neutral-dark: black;
    --clr-neutral-light: white;

    --clr-accent-dark: #b9b4c7;
    --clr-accent-light: #faf0e6;

    --fs-title: 7rem;
}

            /* CUSTOM VARIABLES */
.primary-dark {
    background-color: var(--clr-primary-dark);
}
.primary-light {
    background-color: var(--clr-primary-light);
}
.neutral-dark {
    background-color: var(--clr-neutral-dark);
}
.neutral-light {
    background-color: var(--clr-neutral-light);
}
.accent-dark {
    background-color: var(--clr-accent-dark);
}
.accent-light {
    background-color: var(--clr-accent-light);
}

.fc-dark {
    color: var(--clr-primary-dark);
}
.hc-dark{
    color: var(--clr-primary-light);
}
.fc-light {
    color: var(--clr-accent-light);
}

.ff-mono{
    
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    
}
h1 .ff-mono {
    font-style: italic;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    font-family: var(--ff-main);
    
}
.font_conf {
    font-size: 1rem;
}

.hero-text {
    
    font-size: var(--fs-title);
    text-align:center;

}
.hero-text-small{
    font-size: calc((var(--fs-title)/2));
}

.title-big {
    text-align: center;
    font-size: calc(var(--fs-title)/2);
}
.title-small {
    text-align: center;
    
    
}

/* MEDIA QUERIES */

@media  /* MOBILE */ (min-width: 320px){
    .paralax{
        background-image: url(assets/dark-purple.jpeg);
        background-position: top;
        background-size: contain;
    }
    .hero-text {
    
        font-size: calc(var(--fs-title)/3.5);
        text-align:center;
    
    }
    .hero-text-small{
        font-size: calc((var(--fs-title)/4.5));
        font-family: 'Poppins';
        color: var(--clr-primary-light);
    }
    .title-big {
        text-align: center;
        font-size: calc(var(--fs-title)/3);
    }
    .title-small {
        text-align: center;
        font-size: calc(var(--fs-title/4));
        
        
    }
    .about-image {
        min-width: 300px;
        display: flex;
        margin: auto;
    }
    

}
@media  /* TABLET */ (min-width:481) {
    .hero-text {
    
        font-size: calc(var(--fs-title)/3);
        text-align:center;
    
    }
    .hero-text-small{
        font-size: calc((var(--fs-title)/4));
        font-family: 'Poppins';
        color: var(--clr-primary-light);
    }
    .akmi-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .akmi-logo{
        display: flex;
        justify-content: center;
    }
    
    .mobile-nav-toggle {
        visibility: hidden;
    }
}
@media (min-width:777px){
    .hero-text {
    
        font-size: calc(var(--fs-title)/2.5);
        text-align:center;
    
    }
    .hero-text-small{
        font-size: calc((var(--fs-title)/3.5));
        font-family: 'Poppins';
        color: var(--clr-primary-light);
    }
    .akmi-box {
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }
    .akmi-logo{
        display: flex;
        justify-content: center;
    }
    
    .mobile-nav-toggle {
        visibility: hidden;
    }
    .about-paragraphs{
        min-width: 50%;
    }
    .about-image{
        min-width: 50%;
    }
        .about-image img{
            max-width: 500px;
            display: flex;
            margin: auto;
        }
}
@media only screen /* SMALL SCREENS - LAPTOPS */ and (min-width:1024px){
    .hero-text {
    
        font-size: calc(var(--fs-title)/2.5);
        text-align:center;
    
    }
    .hero-text-small{
        font-size: calc((var(--fs-title)/3.5));
        font-family: 'Poppins';
        color: var(--clr-primary-light);
    }
}
@media only screen /* LARGE SCREENS - DESKTOPS */ and (min-width:1200px){
    .hero-text {
    
        font-size: calc(var(--fs-title)/2.5);
        text-align:center;
    
    }
    .hero-text-small{
        font-size: calc((var(--fs-title)/3.5));
        font-family: 'Poppins';
        color: var(--clr-primary-light);
    }
}
@media only screen /* XL SCREENS - TV */ and (min-width:1201px){
    main {
        max-width: 1920px;
        margin: auto;
    }
    .hero-text {
    
        font-size: calc(var(--fs-title)/2.5);
        text-align:center;
    
    }
    .hero-text-small{
        font-size: calc((var(--fs-title)/3.5));
        font-family: 'Poppins';
        color: var(--clr-primary-light);
    }
}

/* ////////////////////////    NAVBAR   //////////////////////// */
nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    
   
}
.logo {
    margin: 1rem;
}
nav ul{
    margin: 0;
    padding: 0;
    justify-content:end;
    align-items: center;
}
nav ul li {
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: var(--clr-accent-light);
    font-size: 1rem;
    font-weight:400;
    margin-inline-end: 1rem;
    
}
nav ul li a:hover{
    color: var(--clr-primary-light);
}
.mobile-nav-toggle {
    z-index: 9999;
}
.primary-navigation {
display: flex;    
gap: var(--gap, 2rem); 

}
.about{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-paragraphs{
    max-width: 80%;
    padding-inline: 1rem;
    margin-block: 2rem;
}
    .about-paragraphs h2{
        margin-block:calc((3rem)/2) ;
    }
.about-image{
    max-width: 80%;
}
@media (max-width: 776px) {
    .primary-navigation {
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 30%;
        color: var(--clr-accent-light);
        background-color: var(--clr-primary-light);
        justify-content:start;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        z-index: 9998;
        transform: translateX(100%);
        transition: transform 450ms ease-out;
    }
    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);

    }
    .mobile-nav-toggle {
        display:block;
        position: absolute;
        background: url(assets/hamburger-white.png);
        background-repeat: no-repeat;
        background-size: cover;
        border: 0;
        width: 2.5rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 1rem;
        z-index: 9999;
    }
    .mobile-nav-toggle[aria-expanded = "true"]{
        background: url(assets/close-white.png);
        background-size: cover;

    }
    
    .stop-scrolling{
        height: 100%;
        overflow: hidden;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
}

.btn-primary {
    display: inline-block;
    background-color: var(--clr-accent-dark);
    color: var(--clr-neutral-dark);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
    margin-left: calc(50% - 100px);
    border-radius: 100vmax;

}

.btn-primary:hover,
.btn-primary:focus-within{
    color: var(--clr-accent-light);
    background-color: var(--clr-primary-light);
}


/* ANIMATED SCROLL DOWN ARROW ICON */

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  
  .arrow {
    position:relative;
    bottom: 50px;
    left: 50%;
    margin-block: 100px;
    margin-left: -20px;
    width: 20px;
    height: 20px;

    background-image: url(assets/arrow-white.png);
    background-size: contain;
  }
  
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  .fade {
    opacity:0;
    transition: 1s all ease-out;
  }

  


.paralax {
    background-image: url(assets/dark-purple.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    

}
.wrap {
    width: 100%;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
}
.shadow-bg{
    
    background-color: rgba(0,0,0,0.5);
    
}

.gap {
    padding-top: 5rem;
}

.scroll-icon{
    padding: 20px;
}
.container .card
{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover
{
    height: 450px;
}
.container .card .imgContainer
{
    position: relative;
    width:250px;
    height:250px;
    top:-50px;
    left:10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgContainer img
{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.darken-image {
    filter: brightness(70%);
}

@media (max-width: 330px){
    .container .card .imgContainer{
        left: -2px;
    }
}
.career-div {
    min-height: 600px;
}


.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
  
}
.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.6em;
    line-height: 24px;
    padding-bottom: 24px;
}
 .title {
    margin-inline: 1rem;
}
  
.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    color: var(--clr-neutral-light);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus {
    outline: none;
}
.contact-form .input-text:focus + .label,
 .contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY( 15px);
            transform: translateY(-15px);
}
.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 45px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: var(--clr-accent-dark);
    color: var(--clr-neutral-dark);
    border-radius: 100vmax;
    padding: 5px 8px;
    border: none;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out; 
    -webkit-transform: 0.2sec ease-in-out;
}
input {
    background-color: var(--clr-accent-dark);
    border: none;
    border-radius: 100vmax;
    padding-inline: 2rem;
}
.contact-form .submit-btn {
    display: inline-block;
    background-color: var(--clr-accent-dark);
    color: var(--clr-neutral-dark);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
}
.submit-btn {
    border-radius: 100vmax;
}
.submit-btn:hover,
.submit-btn:focus-within{
    color: var(--clr-neutral-light);
    background-color: var(--clr-primary-light);
}
.text-style{
    width: 80%;
    margin: auto;
    padding-block: 3rem;
}


.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
  
.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
  
.content:hover .content-overlay{
    opacity: 1;
}
  
.content-image{
    width: 100%;
}
  
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
  
.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
  
.content-details p{
    color: #fff;
    font-size: 0.8em;
}
  
.fadeIn-bottom{
    top: 80%;
}
#cv {
    padding: 5px;
}
footer ul {
    padding-left: 0px;
}
footer li {
    list-style:none;
    padding: 5px;
}
.contact-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.container-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    width: 400px;
    margin: 20px;
    
}
.skills ul li {
    padding: 5px;
    margin-top: 15px;
    overflow: hidden;
    font-weight: bold;
}
.skills ul li p{
    font-weight: normal;
    color: var(--clr-primary-dark);
}
.green-muted ul li p {
    color: var(--clr-primary-dark);
}

.akmi-box {
   width: 60%;
   margin: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px;

}
.akmi-logo {
    width: 20%;
    max-width: 120px;
    
    padding:5px;
    margin:5px;
    margin-top: auto;
    margin-bottom: auto;
}
.akmi-logo img {
    max-width: 100px;
    min-width: 100px;
}
.akmi-info {
    width: 80%;
    padding: 5px;
    
    margin-top: auto;
    margin-bottom: auto;
}